@import 'tailwindcss';

:root {
  --surface: #000000;
  --on-surface: #ffffff;
  --on-surface-variant: rgba(255, 255, 255, 0.32);

  --primary: #169ddb;
  --primary-hover: #2caef2;
  --on-primary: #ffffff;

  --secondary: rgba(255, 255, 255, 0.1);
  --secondary-hover: rgba(255, 255, 255, 0.16);
  --on-secondary: #ffffff;

  --hover-transition: background 0.2s ease-in-out;

  --radius-sm: 8px;
}

body {
  line-height: 24px;

  background-color: var(--surface);
  color: var(--on-surface);
}
