@import 'tailwindcss';

:root {
  --surface: #000000;
  --on-surface: #ffffff;
  --on-surface-variant: rgba(255, 255, 255, 0.32);

  --primary: #169ddb;
  --primary-hover: #2caef2;
  --on-primary: #ffffff;

  --secondary: rgba(255, 255, 255, 0.1);
  --secondary-hover: rgba(255, 255, 255, 0.16);
  --on-secondary: #ffffff;

  --overlay: rgba(22, 22, 22, 0.6);
}

@theme inline {
  --color-surface: var(--surface);
  --color-on-surface: var(--on-surface);
  --color-on-surface-variant: var(--on-surface-variant);

  --color-primary: var(--primary);
  --color-primary-hover: var(--primary-hover);
  --color-on-primary: var(--on-primary);

  --color-secondary: var(--secondary);
  --color-secondary-hover: var(--secondary-hover);
  --color-on-secondary: var(--on-secondary);

  --color-overlay: var(--overlay);
}

body {
  line-height: 24px;

  background-color: var(--surface);
  color: var(--on-surface);
}
